[Unit]
Description=Set Wi‑Fi SSID to include usb0 IP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=WIFI_COUNTRY=IN
ExecStart=/bin/bash /home/pi/Desktop/offline-setup-12Sep/usb_download_mvp/scripts/ssid_hint.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
